<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>
<body>
    <form class="form-group" action="/addcontact" method="POST">
        <label for="exampleInputPassword1">Nombre</label>
        <input type="Text" class="form-control" name="nombre" id="exampleInputPassword1" placeholder="Ingrese un nombre">
    
        <label for="exampleInputPassword2">Numero</label>
        <input type="Text" class="form-control" name="numero" id="exampleInputPassword1" placeholder="Ingrese numero">
    
        <input class="btn btn-success" type="submit" value="Agregar">
    </form>
</body>
</html>