<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>
<body>
    <h1 class="m-4">Express-Primeros Pasos</h1>
    <p>Hola mi gente, buenas buenas. Este es un proyecto en el que se pueden agregar contactos y ver los en la pantalla. Me parecio un buen proyecto para practicar NodeJS y poco a poco le ire agregando mas cosas.</p>
    <div class="container">
        <h2 class="text-center m-3">Estos son los contactos:</h2>
        <div class="row justify-content-center">
            <% contactos.forEach(contacto => { %>
                <div class="card col-4 m-2">
                    <h3><%- contacto.nombre %>  </h3>
                    <h3><%- contacto.numero %>  </h3>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>