<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>
<body>
    <h1>Express-Primeros Pasos</h1>
    <p>Hola mi gente buenas</p>
    <div class="container">
        <p>Estos son los contactos:</p>
        <div class="row">
            <% contactos.forEach(contacto => { %>
                <div class="card">
                    <h3><%- contacto.nombre %>  </h3>
                    <h3><%- contacto.numero %>  </h3>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>